@font-face {
  font-family: "Caslon";
  font-weight: 400;
  src: url("/fonts/Caslon-Regular.otf") format("woff2");
}

@font-face {
  font-family: "Caslon";
  font-weight: 700;
  src: url("/fonts/LibreCaslonText-Bold.ttf") format("woff2");
}

@font-face {
  font-family: "euclid";
  src: url("/fonts/EuclidInitialsnormal.woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace Xenon";
  font-weight: 400;
  src: url("/fonts/MonaspaceXenon-Regular.woff") format("woff2");
}

@font-face {
  font-family: "Monaspace Xenon";
  font-weight: 700;
  src: url("/fonts/MonaspaceXenon-Bold.woff") format("woff2");
}

@font-face {
  font-family: "Monaspace Xenon";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/MonaspaceXenon-Italic.woff") format("woff2");
}
