/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand-1: rgb(184, 132, 1);
  --vp-c-brand-2: #cea233;
  --vp-c-brand-3: #b4974e;
  --vp-c-brand-soft: #E5A60450;

  --vp-c-bg: var(--vp-c-default-1);
  --vp-c-bg-elv: var(--vp-c-default-2);
  --vp-c-bg-alt: var(--vp-c-default-2);
  --vp-c-bg-soft: var(--vp-c-default-soft);

  --vp-c-border: var(--vp-c-divider);
  --vp-c-gutter: var(--vp-c-divider);
}

html:not(.dark) {
  --vp-c-white: var(--vp-c-default-1);
  --vp-c-default-1: #fcf3d9;
  --vp-c-default-2: #f8eccf;
  --vp-c-default-3: #f3e5c3;
  --vp-c-default-soft: #f6e6bf;
  --vp-c-divider: #e0d2ac80;
}

html.dark {
  --vp-c-text-1: #fcf3d9;
  --vp-c-text-2: #f8eccf;
  --vp-c-text-3: #f3e5c3;

  --vp-c-brand-1: #E5A604;
  --vp-c-brand-2: #cea233;
  --vp-c-brand-3: #b4974e;
  --vp-c-brand-soft: #E5A60450;

  --vp-c-default-1: #161514;
  --vp-c-default-2: #1b1a19;
  --vp-c-default-3: #252321;
}

:root {
  -vp-c-text-1: rgba(42, 40, 47);
  -vp-c-text-2: rgba(42, 40, 47, 0.78);
  -vp-c-text-3: rgba(42, 40, 47, 0.56);
  --black-text-1: rgba(42, 40, 47);
}

.dark {
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

.dark {
  --vp-button-brand-text: var(--black-text-1);
  --vp-button-brand-bg: var(--vp-c-brand-2);
  --vp-button-brand-hover-text: var(--black-text-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-1);
  --vp-button-brand-active-text: var(--black-text-1);
  --vp-button-brand-active-bg: var(--vp-c-brand-3);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */
@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

/**
 * Orta making it feel OLDE!
 * -------------------------------------------------------------------------- */

:root {
  --vp-font-family-base: 'Caslon', serif;
  --vp-font-family-mono: "Monaspace Xenon", monospace;
  --vp-doc-top-height: 5rem;
}

#VPSidebarNav {
  margin-top: var(--vp-doc-top-height);
}

.vp-doc div[class*='language-'],
.vp-code-group .tabs,
.vp-code-group .tab {
  border-radius: 0 !important;
}

.vp-code-group .tabs {
  background: none;
}

.vp-code-group .tabs label {
  line-height: 2rem;
}


.main p {
  font-size: 1.1rem;
  line-height: 2.2rem;
}

.main h1 {
  font-size: 3.8rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: bolder;
  line-height: 1.2em;
}

.main h2 {
  font-size: 2.2rem;
  border-top: 0;
  margin-bottom: 2rem;
  line-height: 1.2em;
}

h2>a {
  opacity: 0.3;
  text-decoration: none;
}

h2>a:hover {
  opacity: 0.9;
}

.VPSidebarItem.level-0 > .item > .text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  opacity: 0.5;
}
